:host {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail{
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


app-star-ship {
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 14px 8px;
  margin-bottom: 24px;
  width: 150px;
  height: 150px;
}

.description{
    text-align: center;
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
