:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ship-list {
  display: flex;
  flex-direction: column;
}

ngx-star-port {
    display: block;
    height: 132px;
  }
