:host {
  height: 100%;
  width: 100%;
  display: block;
}

.master-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.master-heading{
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.master-grid{
  width: 100%;
  height: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 20px;

  *{
    justify-self: center;
  }
}

ngx-star-port {
  height: 100px;
  width: 250px;
}

h1{
  margin: 0;
}

@media only screen and (min-width : 790px) {

  .master-container{
    height: 100%;
  }


  .master-grid{
    max-height: 350px;
  }
  
}
